body{
  
    padding: 25px;
  }
  .title {
      color: #5C6AC4;
  }
  .parentDivBox{
  background-color:#C0C0C0;
  width: 300px;
    height: 100px;  
    padding: 50px;
    border: 1px solid black;
    border-radius: 16px;
  }
  .childDivBox {
    width: 100px;
    height: 100px;
    border: 1px solid blue;
  }
  .details {
    position: relative;
    right: -113px;
    top: -116px;
  }